<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 d-none d-lg-block d-xl-block">
     <app-menu></app-menu>
    </div>
    <div class="col-lg-10">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-9">
                  <h3>Administración de contratos a tu mano</h3>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="container mt-4">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <mat-card class="mt-3" >
                  <div class="row">
                    <div class="col-sm-10 offset-sm-1">
                      <h2>Persona Natural</h2>
                    </div>
                    <div class="col-sm-6 offset-sm-3">
                      <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="persona">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Nombres" formControlName="Nombre">
                          <mat-error *ngIf="persona.get('Nombres').hasError('required')">
                            Este es un campo obligatorio.
                          </mat-error>
                          <mat-error *ngIf="persona.get('Nombres').hasError('pattern')">
                            Este campo no permite caracteres consecutivos!
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Apellidos" formControlName="Apellido">
                          <mat-error *ngIf="persona.get('Apellido').hasError('required')">
                            Este es un campo obligatorio.
                          </mat-error>
                          <mat-error *ngIf="persona.get('Apellido').hasError('pattern')">
                            Este campo no permite caracteres consecutivos!
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Dirección" formControlName="Direccion">
                          <mat-error *ngIf="persona.get('Direccion').hasError('required')">
                            Este es un campo obligatorio.
                          </mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field class="example-full-width">
                          <input matInput placeholder="Firma" formControlName="FirmaContratoPersona">
                        </mat-form-field> -->
                        <mat-form-field class="example-full-width">
                          <mat-label>Profesión</mat-label>
                          <mat-select formControlName="Profesion_idProfesion">
                            <!-- <mat-option *ngFor="let profesion of profeciones" [value]="profesion?.idProfesion">
                              {{ profesion?.Profesion }}
                            </mat-option> -->
                          </mat-select>
                          <mat-error *ngIf="persona.get('Profesion_idProfesion').hasError('required')">
                            Este es un campo obligatorio.
                          </mat-error>
                        </mat-form-field>
          
                        <mat-form-field class="example-full-width">
                          <mat-label>Pais</mat-label>
                          <mat-select formControlName="Pais_idPais">
                            <!-- <mat-option *ngFor="let p of pais" [value]="p?.idPais">
                              {{ p?.Pais }}
                            </mat-option> -->
                          </mat-select>
                          <mat-error *ngIf="persona.get('Pais_idPais').hasError('required')">
                            Este es un campo obligatorio.
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <mat-label>Departamento</mat-label>
                          <mat-select formControlName="Departamento_idDepartamento">
                            <!-- <mat-option *ngFor="let d of departamento" [value]="d?.idDepartamento">
                              {{ d?.Departamento }}
                            </mat-option> -->
                          </mat-select>
                          <mat-error *ngIf="persona.get('Departamento_idDepartamento').hasError('required')">
                            Este es un campo obligatorio.
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <mat-label>Ciudad</mat-label>
                          <mat-select formControlName="Ciudad_idCiudad">
                            <!-- <mat-option *ngFor="let city of ciudad" [value]="city?.idCiudad">
                              {{ city?.Ciudad }}
                            </mat-option> -->
                          </mat-select>
                          <mat-error *ngIf="persona.get('Ciudad_idCiudad').hasError('required')">
                            Este es un campo obligatorio.
                          </mat-error>
                        </mat-form-field>
                        <div class="col-sm-12">
                          <input type="submit" value="Actualizar mi perfil" class="btn btn-success btn-lg">
                        </div>
                      </form>
                    </div>
                  </div>
              </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
