/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: 'Fredoka One', cursive; }
h1::first-letter{
    font-size: 4rem;
    color: cornflowerblue;
}

.example-form {
    // min-width: 150px;
    // max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.btn{
    width: 100%;
}