<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-9">
                  <h3>Lista de contratos a tu mano</h3>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="container mt-4">
            <div class="row">              
              <div class="col-sm-12 col-md-12 col-lg-6 mt-1" *ngFor="let contratos of misContratos; let i = index">
                <mat-card >
                  <h4 *ngIf="contratos?.TipoContrato_idTipoContrato === 1" class="text-center">Contrato a termino indefinido</h4>
                  <h4 *ngIf="contratos?.TipoContrato_idTipoContrato === 2"  class="text-center">Contrato a termino definido</h4>
                  <h4 *ngIf="contratos?.TipoContrato_idTipoContrato === 3"  class="text-center">Contrato por prestación de servicios</h4>
                  <p class="text-center">Contrato Generado {{ contratos?.FechaContrato }} </p>
                  <p class="text-center"><strong>Salario:</strong> {{ contratos?.Salario | currency }}</p>
                  <p *ngIf="contratos?.Profesion_idProfesion === 1"  class="text-center"><strong>Profesión:</strong> Desarrollador Junior</p>
                  <p *ngIf="contratos?.Profesion_idProfesion === 2"  class="text-center"><strong>Profesión:</strong> Desarrollador Medio</p>
                  <p *ngIf="contratos?.Profesion_idProfesion === 3"  class="text-center"><strong>Profesión:</strong> Desarrollador Senior</p>
                  <p *ngIf="contratos?.Profesion_idProfesion === 4"  class="text-center"><strong>Profesión:</strong> QA Junior</p>
                  <p *ngIf="contratos?.Profesion_idProfesion === 5"  class="text-center"><strong>Profesión:</strong> QA Medio</p>
                  <p *ngIf="contratos?.Profesion_idProfesion === 6"  class="text-center"><strong>Profesión:</strong> QA Senior</p>
                  <p *ngIf="contratos?.Profesion_idProfesion === 7"  class="text-center"><strong>Profesión:</strong> Recursos humanos</p>
                  <p *ngIf="contratos?.Profesion_idProfesion === 8"  class="text-center"><strong>Profesión:</strong> Administrativo</p>
                  <p *ngIf="contratos?.Profesion_idProfesion === 9"  class="text-center"><strong>Profesión:</strong> Servicios generales</p>
                  <p *ngIf="contratos?.Profesion_idProfesion === 10"  class="text-center"><strong>Profesión:</strong> domiciliario</p>
                  <div class="row">
                    <div class="col-6">
                      <button mat-button color="primary" class="d-block mx-auto" (click)="verDatosEmpresa(contratos?.Empresa_nitEmpresa)">
                        Ver datos de la empresa.
                      </button>
                    </div>
                    <div class="col-6">
                      <button mat-stroked-button color="primary" class="d-block mx-auto" (click)="irContrato(contratos?.idContratos)" >
                        Ver mi contrato
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
