<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Contratos a tu mano</h1>
            <hr>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-2 mt-5">
            <p>¿Olvidaste tu contraseña?</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7 offset-lg-3 mt-5">
            <h4>1. Ingrese su dirección de correo electrónico</h4>
            <p>Ingrese la dirección de correo electrónico que utilizó para crear su cuenta:</p>
            <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="recuperar">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Ingrese su Email" type="email" formControlName="Email">
                    <mat-error *ngIf="recuperar.get('Email').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                      <mat-error *ngIf="recuperar.get('Email').hasError('pattern')">
                        El valor ingresado no corresponde a un correo electronico.
                      </mat-error>
                </mat-form-field>
                <div class="col-sm-12 mt-3">
                    <button mat-flat-button type="submit" color="primary" >
                        Enviarme un correo Electrónico de restablecimiento de contraseña
                    </button>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7 offset-lg-3 mt-5">
          <h4>2. Vaya a su correo electrónico y siga el enlace.</h4>
            <p>Después de hacer clic en el botón de arriba, se le enviará un correo electrónico con un enlace que lo llevará a la página de restablecimiento de contraseña.</p>
        </div>
    </div>
</div>
<div class="container-fluid mt-5 bg-grado d-flex flex-column mt-5 " id="sticky-footer" >
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <h5>Contratos a tu mano</h5>
            <!-- <h6>Software desarrollado por </h6> -->
        </div>
    </div>
</div>