<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-lg-2 d-none d-lg-block d-xl-block">
      <app-menu></app-menu>
    </div> -->
    <div class="col-lg-10 offset-lg-1">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <mat-card class="mt-3">
              <div class="row">
                <!-- <div class="col-sm-3">
                  <img
                    src="https://scontent.fbog2-1.fna.fbcdn.net/v/t1.0-9/68877080_10157903604376178_5669071108020633600_n.jpg?_nc_cat=102&_nc_oc=AQl_geOHsnmld5hWIlJ3NJAm5M8Mfi04vb_PhxvoullJ9ugiFbnSsW5cie5rn1x6LHE&_nc_ht=scontent.fbog2-1.fna&oh=f61a54f915296737d586b15da5e43164&oe=5DF47ED1"
                    alt="Imagen perfil" class="rounded-circle w-50 mt-4 d-block mx-auto">
                </div> -->
                <div class="col-sm-9">
                  <h3>{{ infoUserLoged?.Nombre }} {{ infoUserLoged?.Apellido }}</h3>
                  <p>{{ profesion?.Profesion }}</p>
                  <p>{{ userLogin?.Email }}</p>
                  <p>{{ infoUserLoged?.Direccion }}</p>
                  <!-- <p>Edad: 29</p> -->
                  <!-- <p>De: Colombia</p> -->
                  <!-- <p>Ultimo contrato: </p> -->
                </div>
              </div>
            </mat-card>
          </div>

          <div class="container mt-1">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-6">
                <mat-card class="mt-3" *ngIf="!personaNatural">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Generar contrato</h3>
                      <p>Apartado destinado para la generación y creación de contratos. Ingrese los datos solicitados y en menos de 5 Minutos tenga un contrato </p>
                      <a routerLink="/generadorcontrato">
                        <button mat-stroked-button color="primary" class="d-block mx-auto">
                          Generar contrato
                        </button>
                      </a>
                    </div>
                  </div>
                </mat-card>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-6 ">
                <mat-card class="mt-3" *ngIf="!personaNatural">
                  <h3>Todos mis contratos</h3>
                  <p>
                    Aqui encontrara todos los contratos generados desde sus usuario y podra consultar si ya se encuentra firmado y los parametros ingresados dentro de este.
                  </p>
                  <!-- <p class="text-center">{{ contratosEmpresa }}</p> -->
                  <a routerLink="/listacontratos/4">
                    <button mat-stroked-button color="primary" class="d-block mx-auto">
                      Mis contratos
                    </button>
                  </a>
                </mat-card>
              </div>
            </div>
          </div>

          <div class="container mt-4" *ngIf="personaNatural">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-4 ">
                <mat-card>
                  <h4 class="text-center">Contratos actuales</h4>
                  <p class="text-center">{{ misContratos }}</p>
                  <a routerLink="/listacontratos/3">
                    <button mat-stroked-button color="primary" class="d-block mx-auto">
                      Mis contratos
                    </button>
                  </a>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 ">
                <mat-card>
                  <h4 class="text-center">Contratos pendientes</h4>
                  <p class="text-center">{{ pendientesCounter }}</p>
                  <a routerLink="/listacontratos/1">
                    <button mat-stroked-button color="primary" class="d-block mx-auto">
                      Mis contratos
                    </button>
                  </a>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 ">
                <mat-card>
                  <h4 class="text-center">Contratos finalizados</h4>
                  <p class="text-center">{{ finalizadoCounter }}</p>
                  <a routerLink="/listacontratos/2">
                    <button mat-stroked-button color="primary" class="d-block mx-auto">
                      Mis contratos
                    </button>
                  </a>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
