<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-lg-2 d-none d-lg-block d-xl-block">
      <app-menu></app-menu>
    </div> -->
    <div class="col-lg-12">
      <h2 class="m-2">Registros</h2>
      <div class="row">
        <div class="col-6 mt-1" *ngFor="let doc of tiposDocumentos; let i = index">
          <mat-card>
            <div class="row">
                <div class="col-sm-11">
                    <h4>Registro # {{ i + 1 }}</h4>
                    <p>{{ doc.TipoDocumento }}</p>
                  </div>
                  <div class="col-sm-1">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button (click)="delete(doc)" mat-menu-item>
                          <mat-icon>dialpad</mat-icon>
                          <span>Eliminar registro</span>
                        </button>
                      </mat-menu>
                  </div>
            </div>
          </mat-card>
        </div>
      </div>

      <mat-card class="mt-3">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <h2>Crear un nuevo tipo de documento</h2>
          </div>
          <div class="col-sm-6 offset-sm-3">
            <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="documentos">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Tipo de documento" formControlName="TipoDocumento">
                <mat-error *ngIf="documentos.get('TipoDocumento').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
                <mat-error *ngIf="documentos.get('TipoDocumento').hasError('pattern')">
                  Este campo no permite caracteres consecutivos!
                </mat-error>
              </mat-form-field>

              <div class="col-sm-12">
                <input type="submit" value="Finalizar y agregar" class="btn btn-success btn-lg">
              </div>
            </form>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
