<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Contratos a tu mano</h1>
      <hr>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-2 mt-5">
      <p>¿Olvidaste tu contraseña?</p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-7 offset-lg-3 mt-5">
      <h4>3. Cambiar su contrasema </h4>
      <p>Ingrese la nueva contraseña para poder acceder a su cuenta:</p>
      <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="change">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ingrese su nueva contraseña" type="password" formControlName="Password">
          <mat-error *ngIf="change.get('Password').hasError('required')">
            Este es un campo obligatorio.
          </mat-error>
        </mat-form-field>
        <div class="col-sm-12 mt-3">
          <button mat-flat-button type="submit" color="primary">
            Cambiar mi contraseña
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid mt-5 bg-grado d-flex flex-column mt-5 " id="sticky-footer">
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h5>Contratos a tu mano</h5>
      <!-- <h6>Software desarrollado por </h6> -->
    </div>
  </div>
</div>