<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-4 mt-5">
        <h1>Contratos a tu mano</h1>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2 card-grado">
      <mat-card class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 offset-sm-2">
              <h3>¿Cómo quieres iniciar sesión?</h3>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-4">
              <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="login">
                <mat-form-field class="example-full-width">
                    <input matInput type="email" placeholder="Correo" formControlName="Email">
                    <mat-error *ngIf="login.get('Email').hasError('required')">
                      Este es un campo obligatorio.
                    </mat-error>
                    <mat-error *ngIf="login.get('Email').hasError('pattern')">
                      El valor ingresado no corresponde a un correo electronico.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Contraseña" formControlName="Password">
                    <mat-error *ngIf="login.get('Password').hasError('required')">
                      Este es un campo obligatorio.
                    </mat-error>
                </mat-form-field>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-checkbox>Recuerdame!</mat-checkbox>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <a routerLink="/recovery" class="mt-3 mb-3">Recuperar contraseña</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-4">
                    <button mat-flat-button type="submit" color="primary" >Iniciar sesión</button>
                  </div>
                </div>
              </form>

            </div>
            <!-- <div class="col-sm-12 col-lg-6 mt-4">
              <div class="row">
                <div class="col-sm-12 ">
                  <button mat-flat-button color="primary" class="btn-md">Iniciar sesión con Facebook</button>
                </div>
                <div class="col-sm-12 mt-2">
                  <button mat-flat-button color="primary" class="btn-md">Iniciar sesión con Twitter</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="container-fluid bg-grado mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-4 mt-3">
                    <p>¿No tiene una cuenta? <a routerLink="/register">Crear una cuenta</a> </p>
                </div>
            </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>