<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-lg-2 d-none d-lg-block d-xl-block">
      <app-menu></app-menu>
    </div> -->
    <div class="col-lg-12">
      <h2 class="m-2">Registros</h2>
      <div class="row">
        <div class="col-6 mt-1" *ngFor="let tipoContrato of tiposContrato; let i = index">
          <mat-card>
            <div class="row">
                <div class="col-sm-11">
                    <h4>Registro # {{ i + 1 }}</h4>
                    <p>{{ tipoContrato.TipoContrato }}</p>
                    <p>{{ tipoContrato.Descripcion }}</p>
                  </div>
                  <div class="col-sm-1">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button (click)="delete(tipoContrato)" mat-menu-item>
                          <mat-icon>delete</mat-icon>
                          <span>Eliminar registro</span>
                        </button>
                      </mat-menu>
                  </div>
            </div>
          </mat-card>
        </div>
      </div>

      <mat-card class="mt-3" *ngIf="!formulario">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <h2>Crear un nuevo contrato</h2>
          </div>
          <div class="col-sm-6 offset-sm-3">
            <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="tiposContratos">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Tipo de contrato" formControlName="TipoContrato">
                <mat-error *ngIf="tiposContratos.get('TipoContrato').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
                <mat-error *ngIf="tiposContratos.get('TipoContrato').hasError('pattern')">
                  Este campo no permite caracteres consecutivos!
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Descripción" formControlName="Descripcion">
                <mat-error *ngIf="tiposContratos.get('Descripcion').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
                <mat-error *ngIf="tiposContratos.get('Descripcion').hasError('pattern')">
                  Este campo no permite caracteres consecutivos!
                </mat-error>
              </mat-form-field>
              <div class="col-sm-12">
                <input type="submit" value="Finalizar y agregar" class="btn btn-success btn-lg">
              </div>
            </form>
          </div>
        </div>
      </mat-card>

      <mat-card class="mt-3" *ngIf="formulario">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <h2>Agregar texto formato</h2>
          </div>
          <div class="col-sm-6 offset-sm-3">
            <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmitContratos()" [formGroup]="contrato">
              <mat-form-field class="example-full-width">
                <mat-label>Texto del contrato</mat-label>
                <textarea matInput
                          formControlName="AlmacenContratos"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="8"></textarea>
                          <mat-error *ngIf="contrato.get('AlmacenContratos').hasError('required')">
                            Este es un campo obligatorio.
                          </mat-error>
                          <mat-error *ngIf="contrato.get('AlmacenContratos').hasError('pattern')">
                            Este campo no permite caracteres consecutivos!
                          </mat-error>
              </mat-form-field>
              <div class="col-sm-12">
                <input type="submit" value="Finalizar y agregar" class="btn btn-success btn-lg">
              </div>
            </form>
          </div>
        </div>
      </mat-card>

    </div>
  </div>
</div>
