<mat-toolbar color="primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 d-flex justify-content-start ">
        <!-- <mat-toolbar-row> -->
          <span>Contratos a tus manos</span>
        <!-- </mat-toolbar-row> -->
      </div>
      <div class="col-sm-6 d-flex justify-content-end">
        <!-- <span class="text-white mt-1">{{ user?.Name }}</span> -->
        <a routerLink="/panel" class="text-white mt-1 mr-lg-2">
          <span class="text-center">Inicio</span>
        </a>
        <a routerLink="/admin" class="text-white mt-1 mr-lg-2" *ngIf="user?.Roles_idRoles === 2">
          <span class="text-center">Administración</span>
        </a>
        <a routerLink="/perfil" class="text-white mt-1 mr-lg-2">
          <span class="text-center">Actualizar mi perfil</span>
        </a>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person_pin</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="logout()" mat-menu-item>Salir</button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>