<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12" *ngIf="type">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-10 offset-sm-2">
                  <h2>Tipo de perfil</h2>
                </div>
                <div class="col-sm-6 offset-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Tipo de perfil que desea crear</mat-label>
                    <mat-select>
                      <mat-option value="1" (focus)="registerPerson(1)">
                        Perfil Contratado
                      </mat-option>
                      <mat-option value="2" (focus)="registerPerson(2)">
                        Perfil Contratante
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="col-sm-12" *ngIf="natural">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-10 offset-sm-1">
                  <h2>Persona Natural</h2>
                </div>
                <div class="col-sm-6 offset-sm-3">
                  <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="persona">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombres" formControlName="Nombre">
                      <mat-error *ngIf="persona.get('Nombre').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                      <mat-error *ngIf="persona.get('Nombre').hasError('pattern')">
                        Este campo no permite caracteres consecutivos!
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Apellidos" formControlName="Apellido">
                      <mat-error *ngIf="persona.get('Apellido').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                      <mat-error *ngIf="persona.get('Apellido').hasError('pattern')">
                        Este campo no permite caracteres consecutivos!
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Dirección" formControlName="Direccion">
                      <mat-error *ngIf="persona.get('Direccion').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>
                    <div class="example-full-width b-1" >
                      <label>Firma</label>
                      <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                    </div>
                    <div class="example-full-width mt-2">
                      <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                          <button mat-flat-button color="warn" (click)="clearFirma($event)">
                            Borar firma
                          </button>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                          <button mat-flat-button color="primary" (click)="saveFirma($event)">
                            Guardar firma
                          </button>
                        </div>
                      </div>
                    </div>
                    <mat-form-field class="example-full-width">
                      <mat-label>Profesión</mat-label>
                      <mat-select formControlName="Profesion_idProfesion">
                        <mat-option *ngFor="let profesion of profeciones" [value]="profesion?.idProfesion">
                          {{ profesion?.Profesion }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="persona.get('Profesion_idProfesion').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <mat-label>Pais</mat-label>
                      <mat-select formControlName="Pais_idPais">
                        <mat-option *ngFor="let p of pais" [value]="p?.idPais">
                          {{ p?.Pais }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="persona.get('Pais_idPais').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Departamento</mat-label>
                      <mat-select formControlName="Departamento_idDepartamento">
                        <mat-option *ngFor="let d of departamento" [value]="d?.idDepartamento">
                          {{ d?.Departamento }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="persona.get('Departamento_idDepartamento').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Ciudad</mat-label>
                      <mat-select formControlName="Ciudad_idCiudad">
                        <mat-option *ngFor="let city of ciudad" [value]="city?.idCiudad">
                          {{ city?.Ciudad }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="persona.get('Ciudad_idCiudad').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>
                    <div class="col-sm-12">
                      <input type="submit" value="Todo listo" class="btn btn-success btn-lg">
                    </div>
                  </form>
                </div>
              </div>
            </mat-card>
          </div>


          <div class="col-sm-12" *ngIf="juridica">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-10 offset-sm-1">
                  <h2>Persona Juridica</h2>
                </div>
                <div class="col-sm-6 offset-sm-3">
                  <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmitJuridica()" [formGroup]="empresas">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="NIT de la empresa" formControlName="nitEmpresa" type="number">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombre de la empresa" formControlName="Nombre">
                      <mat-error *ngIf="empresas.get('Nombre').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                      <mat-error *ngIf="empresas.get('Nombre').hasError('pattern')">
                        Este campo no permite caracteres consecutivos!
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de empleados" type="number"
                        formControlName="numeroEmpleados">
                        <mat-error *ngIf="empresas.get('numeroEmpleados').hasError('required')">
                          Este es un campo obligatorio.
                        </mat-error>
                        <mat-error *ngIf="empresas.get('numeroEmpleados').hasError('pattern')">
                          Este campo solo permite numeros!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Dirección" formControlName="Direccion">
                      <mat-error *ngIf="empresas.get('Direccion').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pagina web" formControlName="Pagina">
                      <mat-error *ngIf="empresas.get('Pagina').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                      <mat-error *ngIf="empresas.get('Pagina').hasError('pattern')">
                        El valor ingresado no corresponde a una pagina web valida.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Sector</mat-label>
                      <mat-select formControlName="Sector_idSector">
                        <mat-option *ngFor="let sector of sectores" [value]="sector?.idSector">
                          {{ sector?.Sector }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="empresas.get('Sector_idSector').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <mat-label>Tipologia</mat-label>
                      <mat-select formControlName="Tipologia_idTipologia">
                        <mat-option *ngFor="let tipologia of tipologias" [value]="tipologia?.idTipologia">
                          {{ tipologia?.Tipologia }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="empresas.get('Tipologia_idTipologia').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Pais</mat-label>
                      <mat-select formControlName="Pais_idPais">
                        <mat-option *ngFor="let p of pais" [value]="p?.idPais">
                          {{ p?.Pais }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="empresas.get('Pais_idPais').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Departamento</mat-label>
                      <mat-select formControlName="Departamento_idDepartamento">
                        <mat-option *ngFor="let d of departamento" [value]="d?.idDepartamento">
                          {{ d?.Departamento }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="empresas.get('Departamento_idDepartamento').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Ciudad</mat-label>
                      <mat-select formControlName="Ciudad_idCiudad">
                        <mat-option *ngFor="let city of ciudad" [value]="city?.idCiudad">
                          {{ city?.Ciudad }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="empresas.get('Ciudad_idCiudad').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>
                    <div class="col-sm-12">
                      <input type="submit" value="Todo listo" class="btn btn-success btn-lg">
                    </div>
                  </form>
                </div>
              </div>
            </mat-card>
          </div>


          <div class="col-sm-12" *ngIf="contacto">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-10 offset-sm-1">
                  <h2>Persona que sera el contacto directo con la empresa</h2>
                </div>
                <div class="col-sm-6 offset-sm-3">
                  <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmitContacto()" [formGroup]="contactos">
                    <mat-form-field class="example-full-width">
                      <mat-label>Tipo de documento</mat-label>
                      <mat-select formControlName="TipoDocumento_idTipoDocumento">
                        <mat-option *ngFor="let tiposDocumento of tiposDocumentos"
                          [value]="tiposDocumento?.idTipoDocumento">
                          {{ tiposDocumento?.TipoDocumento }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="contactos.get('TipoDocumento_idTipoDocumento').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number" formControlName="IdContacto">
                      <mat-error *ngIf="contactos.get('IdContacto').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                      <mat-error *ngIf="contactos.get('IdContacto').hasError('pattern')">
                        Este campo solo permite numeros!
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombres" formControlName="Nombre">
                      <mat-error *ngIf="contactos.get('Nombre').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                      <mat-error *ngIf="contactos.get('Nombre').hasError('pattern')">
                        Este campo no permite caracteres consecutivos!
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Apellidos" formControlName="Apellido">
                      <mat-error *ngIf="contactos.get('Apellido').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                      <mat-error *ngIf="contactos.get('Apellido').hasError('pattern')">
                        Este campo no permite caracteres consecutivos!
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Correo" formControlName="Email">
                      <mat-error *ngIf="contactos.get('Email').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                      <mat-error *ngIf="contactos.get('Email').hasError('pattern')">
                        El valor ingresado no corresponde a un correo electronico.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Cargo</mat-label>
                      <mat-select formControlName="Cargo_idCargo">
                        <mat-option *ngFor="let cargo of cargos" [value]="cargo?.idCargo">
                          {{ cargo?.Cargo }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="contactos.get('Cargo_idCargo').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>
                    <div class="col-sm-12">
                      <input type="submit" value="Todo listo" class="btn btn-success btn-lg">
                    </div>
                  </form>
                </div>
              </div>
            </mat-card>
          </div>



          <div class="col-sm-12" *ngIf="firmante">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-10 offset-sm-1">
                  <h2>Datos de la persona que firmara el contrato</h2>
                </div>
                <div class="col-sm-6 offset-sm-3">
                  <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmitFirmante()" [formGroup]="firmanteForm">
                    <mat-form-field class="example-full-width">
                      <mat-label>Tipo de documento</mat-label>
                      <mat-select formControlName="TipoDocumento_idTipoDocumento">
                        <mat-option *ngFor="let tiposDocumento of tiposDocumentos"
                          [value]="tiposDocumento?.idTipoDocumento">
                          {{ tiposDocumento?.TipoDocumento }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="firmanteForm.get('TipoDocumento_idTipoDocumento').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number" 
                        formControlName="Documento">
                        <mat-error *ngIf="firmanteForm.get('Documento').hasError('required')">
                          Este es un campo obligatorio.
                        </mat-error>
                        <mat-error *ngIf="firmanteForm.get('Documento').hasError('pattern')">
                          Este campo solo permite numeros!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombres " type="text" formControlName="Nombre">
                      <mat-error *ngIf="firmanteForm.get('Nombre').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                      <mat-error *ngIf="firmanteForm.get('Nombre').hasError('pattern')">
                        Este campo no permite caracteres consecutivos!
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Apellidos" type="text" formControlName="Apellidos">
                      <mat-error *ngIf="firmanteForm.get('Apellidos').hasError('required')">
                        Este es un campo obligatorio.
                      </mat-error>
                      <mat-error *ngIf="firmanteForm.get('Apellidos').hasError('pattern')">
                        Este campo no permite caracteres consecutivos!
                      </mat-error>
                    </mat-form-field>
                    <div class="example-full-width b-1" >
                        <label>Firma</label>
                        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                      </div>
                      <div class="example-full-width mt-2">
                        <div class="row">
                          <div class="col-6 d-flex justify-content-center">
                            <button mat-flat-button color="warn" (click)="clearFirma($event)">
                              Borar firma
                            </button>
                          </div>
                          <div class="col-6 d-flex justify-content-center">
                            <button mat-flat-button color="primary" (click)="saveFirma($event)">
                              Guardar firma
                            </button>
                          </div>
                        </div>
                      </div>

                    <!-- <mat-form-field class="example-full-width">
                      <mat-label>Tipo de perfil que desea crear</mat-label>
                      <mat-select formControlName="Empresa_nitEmpresa">
                        <mat-option value="1">
                          Perfil Contratante
                        </mat-option>
                        <mat-option value="2">
                          Perfil Contratado
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                    <div class="col-sm-12">
                      <input type="submit" value="Todo listo" class="btn btn-success btn-lg">
                    </div>
                  </form>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
