<!-- <img
  src="https://scontent.fbog2-1.fna.fbcdn.net/v/t1.0-9/68877080_10157903604376178_5669071108020633600_n.jpg?_nc_cat=102&_nc_oc=AQl_geOHsnmld5hWIlJ3NJAm5M8Mfi04vb_PhxvoullJ9ugiFbnSsW5cie5rn1x6LHE&_nc_ht=scontent.fbog2-1.fna&oh=f61a54f915296737d586b15da5e43164&oe=5DF47ED1"
  alt="Imagen perfil" class="rounded-circle w-50 mt-4 d-block mx-auto"> -->
<p class="text-center mt-3 mb-3">{{ profesiones }}</p>
<mat-list role="list">
    <mat-list-item role="listitem" class="mt-5">
        <a routerLink="/panel">
          <div class="row text-center">
            <div class="col-sm-12">
              <mat-icon class="icon-grado">home</mat-icon>
            </div>
            <div class="col-sm-12">
              <p class="text-center">Inicio</p>
            </div>
          </div>
        </a>
  </mat-list-item>
  <mat-list-item role="listitem" class="mt-5">
    <a routerLink="/admin">
      <div class="row text-center">
        <div class="col-sm-12">
          <mat-icon class="icon-grado">security</mat-icon>
        </div>
        <div class="col-sm-12">
          <p class="text-center">Administración</p>
        </div>
      </div>
    </a>
  </mat-list-item>
  <mat-list-item role="listitem" class="mt-5">
    <a routerLink="/perfil">
      <div class="row text-center">
        <div class="col-sm-12">
          <mat-icon class="icon-grado">face</mat-icon>
        </div>
        <div class="col-sm-12">
          <p class="text-center " disabled>Actualizar mi perfil</p>
        </div>
      </div>
    </a>
  </mat-list-item>
  <!-- <mat-list-item role="listitem" class="mt-5">
    <a routerLink="">
      <div class="row text-center">
        <div class="col-sm-12">
          <mat-icon class="icon-grado">https</mat-icon>
        </div>
        <div class="col-sm-12">
          <p class="text-center">Cambiar contraseña</p>
        </div>
      </div>
    </a>
  </mat-list-item> -->
</mat-list>