<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Mi contrato</h3> 
                  <p *ngIf="miContrato?.EstadoContrato_idEstadoContrato === 1">Estado contrato Pendiente</p>
                  <p *ngIf="miContrato?.EstadoContrato_idEstadoContrato === 2 ">Estado contrato Firmado</p>
                </div>
                <div class="col-sm-6 d-flex justify-content-end" *ngIf="miContratoPermiso === 'Natural'">
                  <button mat-button color="primary" (click)="firmarContrato()">Firmar y aceptar contrato</button>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="container mt-4">
            <div class="row">              
              <div class="col-sm-12 col-md-12 col-lg-12 mt-1" >
                <div>
                  <p>{{ documento }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-9">
                  <h3>Clausulas</h3>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="container mt-4">
            <div class="row">              
              <div class="col-sm-12 col-md-12 col-lg-12 mt-1" >
                <div>
                  <p>{{ clausula?.Clausulas }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="container mt-4" *ngIf="miContrato?.firmaContratoContratado">
            <div class="row">              
              <div class="col-sm-12 col-md-12 col-lg-6 mt-1" >
                <div>
                  <img src="https://luisvilanova.es/wp-content/uploads/2018/11/firma-digital.png" alt="FirmaContrato" class="img-fluid" style="width: 20%;">
                  <p style="line-height: 10px">Firmado Electronicamente</p>
                  <p style="line-height: 10px">{{ miContrato?.FirmaContrato_Documento }}</p>
                  <p style="line-height: 10px">Contratante</p>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 mt-1" >
                <div>
                  <img src="https://luisvilanova.es/wp-content/uploads/2018/11/firma-digital.png" alt="FirmaContrato" class="img-fluid" style="width: 20%;">
                  <p style="line-height: 10px">Firmado Electronicamente</p>
                  <p style="line-height: 10px">{{ miContrato?.Persona_idPersona }}</p>
                  <p style="line-height: 10px">Contratatado</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
