.banner-contratos {
    background-image: url('https://images.pexels.com/photos/1440722/pexels-photo-1440722.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.fixed {
    position: fixed;
    margin-top: 13rem;
}