<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand text-white">Contratos a tu mano</a>
    <ul class="navbar-nav nav nav-pills nav-fill mr-auto mt-2 mt-lg-0 text-right">
      <li class="nav-item active">
        <a class="nav-link text-white" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/sing-in">Sing-in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/sing-up">Sing-up</a>
      </li>
    </ul>
  </div>
</nav> -->

<div class="container-fluid banner-contratos">
  <div class="row">
    <div class="col-sm-12-col-md-12 col-lg-4 offset-lg-2 text-white position-fixed fixed">
      <h1>Contratos a tu mano</h1>
      <h6>Es un software destinado a ayudate a gestionar el proceso de contratación</h6>
      <div class="row mt-4 position-fixed">
        <div class="col-sm-12 col-md-12 col-lg-6 ">
          <button mat-flat-button color="primary" >Iniciar sesión</button>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <button mat-flat-button color="primary" >Registrarse</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>Contratos</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sed natus exercitationem, suscipit quia, a dolor facilis asperiores 
        repudiandae ratione officia nesciunt, maxime odit minima voluptatum? 
        Velit facilis molestiae iusto sequi.</p>
    </div>
  </div>
</div>