<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-lg-2 d-none d-lg-block d-xl-block">
      <app-menu></app-menu>
    </div> -->
    <div class="col-lg-12">
      <mat-card class="mt-3" *ngIf="user?.TipoDocumento_idTipoDocumento === 1">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <h2>Persona Natural</h2>
          </div>
          <div class="col-sm-6 offset-sm-3">
            <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="persona">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombres" formControlName="Nombre">
                <mat-error *ngIf="persona.get('Nombre').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
                <mat-error *ngIf="persona.get('Nombre').hasError('pattern')">
                  Este campo no permite caracteres consecutivos!
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Apellidos" formControlName="Apellido">
                <mat-error *ngIf="persona.get('Apellido').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
                <mat-error *ngIf="persona.get('Apellido').hasError('pattern')">
                  Este campo no permite caracteres consecutivos!
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Dirección" formControlName="Direccion">
                <mat-error *ngIf="persona.get('Direccion').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
              </mat-form-field>
              <!-- <mat-form-field class="example-full-width">
                <input matInput placeholder="Firma" formControlName="FirmaContratoPersona">
              </mat-form-field> -->
              <mat-form-field class="example-full-width">
                <mat-label>Profesión</mat-label>
                <mat-select formControlName="Profesion_idProfesion">
                  <!-- <mat-option *ngFor="let profesion of profeciones" [value]="profesion?.idProfesion">
                    {{ profesion?.Profesion }}
                  </mat-option> -->
                </mat-select>
                <mat-error *ngIf="persona.get('Profesion_idProfesion').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Pais</mat-label>
                <mat-select formControlName="Pais_idPais">
                  <!-- <mat-option *ngFor="let p of pais" [value]="p?.idPais">
                    {{ p?.Pais }}
                  </mat-option> -->
                </mat-select>
                <mat-error *ngIf="persona.get('Pais_idPais').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Departamento</mat-label>
                <mat-select formControlName="Departamento_idDepartamento">
                  <!-- <mat-option *ngFor="let d of departamento" [value]="d?.idDepartamento">
                    {{ d?.Departamento }}
                  </mat-option> -->
                </mat-select>
                <mat-error *ngIf="persona.get('Departamento_idDepartamento').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Ciudad</mat-label>
                <mat-select formControlName="Ciudad_idCiudad">
                  <!-- <mat-option *ngFor="let city of ciudad" [value]="city?.idCiudad">
                    {{ city?.Ciudad }}
                  </mat-option> -->
                </mat-select>
                <mat-error *ngIf="persona.get('Ciudad_idCiudad').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
              </mat-form-field>
              <div class="col-sm-12">
                <input type="submit" value="Actualizar mi perfil" class="btn btn-success btn-lg">
              </div>
            </form>
          </div>
        </div>
    </mat-card>

      <mat-card class="mt-3" *ngIf="user?.TipoDocumento_idTipoDocumento === 4">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <h2>Persona Juridica</h2>
          </div>
          <div class="col-sm-6 offset-sm-3">
            <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmitJuridica()" [formGroup]="empresas">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="NIT de la empresa" formControlName="nitEmpresa">
                <mat-error *ngIf="empresas.get('nitEmpresa').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre de la empresa" formControlName="Nombre">
                <mat-error *ngIf="empresas.get('Nombres').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
                <mat-error *ngIf="empresas.get('Nombres').hasError('pattern')">
                  Este campo no permite caracteres consecutivos!
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Numero de empleados" type="number" formControlName="numeroEmpleados">
                <mat-error *ngIf="empresas.get('numeroEmpleados').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
                <mat-error *ngIf="empresas.get('numeroEmpleados').hasError('pattern')">
                  Este campo no permite caracteres consecutivos!
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Dirección" formControlName="Direccion">
                <mat-error *ngIf="empresas.get('Direccion').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Pagina web" formControlName="Pagina">
                <mat-error *ngIf="empresas.get('Pagina').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
                <mat-error *ngIf="empresas.get('Pagina').hasError('pattern')">
                  Este campo no permite caracteres consecutivos!
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Sector</mat-label>
                <mat-select formControlName="Sector_idSector">
                  <!-- <mat-option *ngFor="let sector of sectores" [value]="sector?.idSector">
                    {{ sector?.Sector }}
                  </mat-option> -->
                </mat-select>
                <mat-error *ngIf="empresas.get('Sector_idSector').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Tipologia</mat-label>
                <mat-select formControlName="Tipologia_idTipologia">
                  <!-- <mat-option *ngFor="let tipologia of tipologias" [value]="tipologia?.idTipologia">
                    {{ tipologia?.Tipologia }}
                  </mat-option> -->
                </mat-select>
                <mat-error *ngIf="empresas.get('Tipologia_idTipologia').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Pais</mat-label>
                <mat-select formControlName="Pais_idPais">
                  <!-- <mat-option *ngFor="let p of pais" [value]="p?.idPais">
                    {{ p?.Pais }}
                  </mat-option> -->
                </mat-select>
                <mat-error *ngIf="empresas.get('Pais_idPais').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Departamento</mat-label>
                <mat-select formControlName="Departamento_idDepartamento">
                  <!-- <mat-option *ngFor="let d of departamento" [value]="d?.idDepartamento">
                    {{ d?.Departamento }}
                  </mat-option> -->
                </mat-select>
                <mat-error *ngIf="empresas.get('Departamento_idDepartamento').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Ciudad</mat-label>
                <mat-select formControlName="Ciudad_idCiudad">
                  <!-- <mat-option *ngFor="let city of ciudad" [value]="city?.idCiudad">
                    {{ city?.Ciudad }}
                  </mat-option> -->
                </mat-select>
                <mat-error *ngIf="empresas.get('Ciudad_idCiudad').hasError('required')">
                  Este es un campo obligatorio.
                </mat-error>
              </mat-form-field>
              <div class="col-sm-12">
                <input type="submit" value="Todo listo" class="btn btn-success btn-lg">
              </div>
            </form>
          </div>
        </div>
      </mat-card>

    </div>
  </div>
</div>
