<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand text-white">Contratos a tu mano</a>
    <ul class="navbar-nav nav nav-pills nav-fill mr-auto mt-2 mt-lg-0 text-right">
      <li class="nav-item active">
        <a class="nav-link text-white" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/sing-in">Sing-in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/sing-up">Sing-up</a>
      </li>
    </ul>
  </div>
</nav> -->

<div class="container-fluid banner-contratos">
  <div class="row">
    <div class="col-sm-12-col-md-12 col-lg-4 offset-lg-2 text-white fixed">
      <h1>Contratos a tu mano</h1>
      <h6>Es un software destinado a ayudate a gestionar el proceso de contratación</h6>
      <div class="row mt-4">
        <div class="col-sm-12 col-md-12 col-lg-6 ">
          <a routerLink="login">
            <button mat-raised-button>Iniciar sesión</button>
          </a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <a routerLink="register">
            <button mat-raised-button color="primary">Registrarse</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container mt-n5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
      <mat-card>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4">
            
            <h3 class="text-center">Registra</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Sed natus exercitationem, suscipit quia</p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            
            <h3 class="text-center">Genera</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Sed natus exercitationem, suscipit quia</p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            
            <h3 class="text-center">Firma</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Sed natus exercitationem, suscipit quia</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-3">
      <h4 class="text-center">Desde una plataforma web</h4>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Laudantium voluptatem, eveniet minus repudiandae veniam, ab 
        possimus quod praesentium doloremque sequi accusantium voluptatum 
        ut! Voluptate velit pariatur placeat ex! Culpa, debitis.</p>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h4>Contratos</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing 
        elit. Quod odit, accusantium optio neque consectetur 
        sint blanditiis iure! Dolor dolore explicabo voluptates 
        excepturi rerum! Voluptates adipisci expedita beatae 
        distinctio minima incidunt.</p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/f7RwDnZI7Tw"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; 
        gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="container-fluid mt-5 bg-light">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
      <h4 class="text-center">Desde una plataforma web</h4>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Laudantium voluptatem, eveniet minus repudiandae veniam, ab 
        possimus quod praesentium doloremque sequi accusantium voluptatum 
        ut! Voluptate velit pariatur placeat ex! Culpa, debitis.</p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
      <img src="https://thumbnail.imgbin.com/3/24/19/imgbin-mobile-app-responsive-web-design-mobile-phones-application-software-android-android-p2WiBSJXSzNyw9qiXBSGcBt93_t.jpg" alt="phone" class="img-fluid d-block mx-auto">
    </div>
  </div>
</div> -->