<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-lg-2 d-none d-lg-block d-xl-block">
     <app-menu></app-menu>
    </div> -->
    <div class="col-lg-10 offset-lg-1">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-9">
                  <h3>Generar un nuevo contrato</h3>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="container mt-4">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <mat-card class="mt-3" >
                  <div class="row">
                    <div class="col-sm-6 offset-sm-3">
                      <form #myform="ngForm" class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="contratro">

                            <!-- <input  name="myBrowser" /> -->
                          <mat-form-field class="example-full-width">
                            <input list="browsers" matInput type="text" placeholder="Persona a contratar" formControlName="Persona_idPersona"
                              (change)="consultarPersona($event)" autocomplete="off">
                            <datalist id="browsers">
                              <option *ngFor="let option of options" [value]="option.idPersona">
                                {{ option.Nombre }} {{ option.Apellido }}
                              </option>
                            </datalist>
                            <mat-error *ngIf="contratro.get('Persona_idPersona').hasError('required')">
                              Este es un campo obligatorio.
                          </mat-error>
                          <mat-error *ngIf="contratro.get('Persona_idPersona').hasError('pattern')">
                              Solo se aceptan numeros
                          </mat-error>
                          </mat-form-field>
                          
                        <mat-card *ngIf="viewCardPersona">
                          <div class="container">
                            <div class="row" >
                              <div class="col-sm-12">
                                <h5> {{ personaContratar?.Nombre }} {{ personaContratar?.Apellido }}</h5>
                                <p>{{ personaContratar?.Direccion }}</p>
                                <p>{{ pais?.Pais }}</p>
                                <p>{{ depa?.Departamento }}</p>
                                <p>{{ ciudad?.Ciudad }}</p>
                              </div>
                            </div>
                          </div>
                        </mat-card>

                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="picker" placeholder="Fecha Inicio de contrato" formControlName="FechaInicio" autocomplete="off">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error *ngIf="contratro.get('FechaInicio').hasError('required')">
                            Este es un campo obligatorio.
                        </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="pickers" placeholder="Fecha Final de contrato" formControlName="FechaFinal" autocomplete="off">
                          <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                          <mat-datepicker #pickers></mat-datepicker>
                        </mat-form-field>
                        
                        <mat-form-field class="example-full-width">
                          <input list="contratos" matInput type="text" placeholder="Tipo de contrato" formControlName="TipoContrato_idTipoContrato"
                            (change)="consultarContratos($event)" autocomplete="off">
                          <datalist id="contratos">
                            <option *ngFor="let contratos of almacenContratos" [value]="contratos.TipoContrato">
                              {{ contratos.Descripcion }}
                            </option>
                          </datalist>
                          <mat-error *ngIf="contratro.get('TipoContrato_idTipoContrato').hasError('required')">
                            Este es un campo obligatorio.
                        </mat-error>
                        </mat-form-field>

                        <!-- <mat-form-field class="example-full-width">
                          <mat-label>Tipo de contrato</mat-label>
                          <mat-select formControlName="TipoContrato_idTipoContrato">
                            <mat-option *ngFor="let profesion of profeciones" [value]="profesion?.idProfesion">
                              {{ profesion?.Profesion }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> -->
                        <mat-form-field class="example-full-width">
                          <input matInput type="number" placeholder="Salario" formControlName="Salario" autocomplete="off">
                          <mat-error *ngIf="contratro.get('Salario').hasError('required')">
                            Este es un campo obligatorio.
                        </mat-error>
                        <mat-error *ngIf="contratro.get('Salario').hasError('pattern')">
                            Solo se aceptan numeros
                        </mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field class="example-full-width">
                          <input list="parametrosList" matInput type="text" placeholder="Parametros" formControlName="parametros"
                            (change)="consultarParametros($event)" autocomplete="off">
                          <datalist id="parametrosList">
                            <option *ngFor="let parametro of Parametros" [value]="parametro.Parametros">
                            </option>
                          </datalist>
                        </mat-form-field> -->
                        <mat-form-field class="example-full-width">
                          <mat-label>Profesión</mat-label>
                          <mat-select formControlName="Profesion_idProfesion">
                            <mat-option *ngFor="let profesion of profeciones" [value]="profesion?.idProfesion">
                              {{ profesion?.Profesion }}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="contratro.get('Profesion_idProfesion').hasError('required')">
                            Este es un campo obligatorio.
                        </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input list="clausulasList" matInput type="text" placeholder="Clausulas" formControlName="clausulas"
                            (change)="consultarClausulas($event)" autocomplete="off">
                          <datalist id="clausulasList">
                            <option *ngFor="let clausula of clausulas" [value]="clausula.TipoClausula">
                            </option>
                          </datalist>
                          <mat-error *ngIf="contratro.get('clausulas').hasError('required')">
                            Este es un campo obligatorio.
                        </mat-error>
                        </mat-form-field>

                        <!-- <mat-form-field class="example-full-width">
                          <mat-label>Clausulas</mat-label>
                          <mat-select formControlName="clausulas">
                            <mat-option *ngFor="let profesion of profeciones" [value]="profesion?.idProfesion">
                              {{ profesion?.Profesion }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> -->


                        <div class="col-sm-12">
                          <input type="submit" value="Registrar contrato" class="btn btn-success btn-lg">
                        </div>
                      </form>
                    </div>
                  </div>
              </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>